.cabecalho{
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho_menu_hamburguer{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../Assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho_container{
    display: flex;
    align-items: center;
    gap: 1px;
}

.cabecalho_imagem{
    padding: 0.3em;
}

.cabecalho_logo{
    padding: 1em;
}

.cabecalho_imagem_menu{
    padding: 1em;
}

.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.cabecalho_botao:checked ~ .lista_menu{
    display: block;
}


.cabecalho_botao{
    display: none;
}

.lista_menu_titulo,
.lista_menu_item{
    padding: 1em;
    background-color: var(--cor-branca);
}

.lista_menu_titulo{
    color: var(--cor-laranja);
    font-family: var(--fonte-poppins);
    font-weight: 700;
    font-size: 1rem;
}

.lista_menu_link{
    background: var(--cor-degrade-azul);
    font-family: var(--fonte-poppins);
    font-weight: 400;
    font-size: 1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
}

.header_titulo{
    display: none;
}

.header_lista{
    display: none;
}

.container_texto{
    display: none;
}

.cabecalho_botao:checked ~ .container_rotulo > .cabecalho_menu_hamburguer{
    background-image: url('../Assets/Menu\ Aberto.svg');
}

.cabecalho_botao:checked ~ .container_rotulo{
    background: var(--cor-degrade-azul);
}

.container_rotulo{
    padding: 1em 1em;
}

@media screen and (min-width: 1024px){
    .header_titulo,
    .header_titulo_negrito{
        font-family: var(--fonte-josefin);
        font-size: 1.8rem;
    }

    .header_titulo{
        font-weight: 400;
        display: block;
    }

    .header_titulo_negrito{
        font-weight: 700;
    }

    .header_lista{
        display: flex;
    }

    .header_items{
        padding: 0 1em;
        text-transform: uppercase;
        font-family: var(--fonte-poppins);
        font-weight: 400;
        font-size: 1rem;
    }

    .items_links{
        text-decoration: none;
        color: var(--cor-preto);
    }

    .cabecalho_imagem_transparente{
        display: none;
    }

    .cabecalho_imagem{
        padding: 0 1.5em;
    }

    .cabecalho_container{
        padding-right: 3em;
    }

    .cabecalho_menu_hamburguer{
        display: none;
    }

    .cabecalho_logo{
        padding-left: 3em;
    }

    .header_lista_botao:checked ~ .lista_menu{
        display: block;
        width: auto;
    }

    .header_lista_botao{
        display: none;
    }

    .header_lista_botao:checked ~ .opcoes_rotulo > .header_items{
        background: var(--cor-degrade-azul);
        color: var(--cor-branca);
    }

    .header_items{
        padding: 2em 1em;
    }

    .lista_menu_item:hover{
        background: var(--cor-degrade-azul);
    }

    .lista_menu_item:hover > .lista_menu_link{
        -webkit-text-fill-color: var(--cor-branca);
    }
}

@media screen and (min-width: 1728px){
    .container_link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
    }
    .container_texto{
        font-family: var(--fonte-poppins);
        font-weight: 400;
        font-size: 1.2em;
        margin-right: 1em;
        display: block;
    }

    .cabecalho_imagem{
        padding-right: 0.1em;
    }

    .header_lista{
        margin-right: auto;
    }
}


